html {
    background-color: seashell;
}

#container {
    display: flex;
    border-color: black;
}

#input {
    display:inline-flex;
}

#current {
    border-color: tomato;
    border-width: 20px;
}
#more_info {
    display: inline-block;
}