html {
    background-color: seashell;
}

#container {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#input {
  
    text-align: center;

}
#more_info {
    text-align: center;
}

#current {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}