<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilot's Pal</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Pilot's Pal</h1>
    <h3>A more convient way to look up weather data if you forget your NAIPS details</h3>
    <p class="quote">"Once you have tasted flight, you will forever walk the earth with your eyes turned skyward, for there you have been, and there you will always long to return"</p>
    <p class="person">- Leonardo Da Vinci</p>
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
</body>
</html>
