<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilot's Pal</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Pilot's Pal</h1>
    <h5>Create an acoount and have your flights saved for easier wether reports!</h5>
    <form>
        <label for="username">Username</label>
        <input type="text" name="username"> <br>
        <label for="password">Passowrd</label>
        <input type="password" name="password"> <br>
        <input type="submit">
    </form>
    <h5>If you have already signed up then login here</h5>
    <input type="submit">
</body>
</html>