<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style3.css">
    <title>main</title>
</head>
<body>
    <div id="container">
    <div id="input">
        <h2>Hello there</h2>
        <p>Enter a location's latitude and longitude for its weather information</p>
        <form method="get" action="/weather">
            <input type="text" name="lat">
            <input type="text" name="lon">
            <input type="submit">
        </form>
    </div>

    <div id="current"> 
        <p>Timezone: {{timezone}}</p>
        <p>Current humidity: {{humidity}}</p>
        <p>Current pressure: {{pressure}}</p>
        <p>Current cloud: {{clouds}}</p>
        <p>Current visibility: {{visibility}}</p>
        <p>Current wind_speed: {{speed}}</p>
        <!-- <p>Current wind_gust: {{gust}}</p> -->
        <p>Current wind_heading: {{heading}}</p>
    </div>


    <div id="more_info">
        <p>Enter the latitude and longitude to save the location</p>
        <form method="post" action="/add_location">
            <input type="text" name="lat">
            <input type="text" name="lon">
            <input type="submit">
        </form>
    </div>
 
    <div id="saved">
        Previously entered locations: <br>
        <form method="post" action="/get_values">
            <select name="lat">
                <option>Chose latitude</option>
                {% for row in rows %}
                 <option value="{{row}}">{{row}}</option>
                 {% endfor %} 
            </select>
            <select name="lon">
                <option>Chose longitude</option>
                {% for row in rows2 %}
                 <option value="{{row}}">{{row}}</option>
                 {% endfor %} 
            </select>
            <input type="submit">
        </form>
    </div> 
    </div>


</body>
</html>